$heading: #1f3e72;
$primary: #3252d0;
$light-primary: #eef3ff;
$yellow: #ffd012;
$light-yellow: #fffcf0;
$gray: #6d7b93;
$icons-base: #3353d1;
$secondary: #eef3ff;
$border: #fafaff;
$triangle: #f4f6fb